.cardMod {
  ion-avatar {
    width: 300px;
    height: 150px;
    --border-radius: 15px;
    position: relative;
    margin: 10px;
  }

}

.posicionImagen {
  margin: auto;
}

.name {
  color: white;
  text-align: center;
}

.rgb {
  color{
    background-color: #ad0000;
  }
}
